@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Defaults (Matches 'Modern' Theme) */
    --color-primary: 71 85 105;
    --font-display: 'Cinzel', serif;
    --font-body: 'Merriweather', serif;
    --radius-btn: 0.75rem;
    --btn-px: 1rem;
    --btn-py: 0.375rem;
    --app-scale: 95%;

    /* Semantic Colors Defaults */
    --color-item: 71 85 105;
    --color-condition: 71 85 105;
    --color-power: 71 85 105;
    --color-note: 71 85 105;
    --color-draft: 71 85 105;
}

html {
    font-size: var(--app-scale);
}

body {
    font-family: var(--font-body), serif;
    overscroll-behavior-y: none;
}

h1, h2, h3, .font-display {
    font-family: var(--font-display), serif;
}

/* Custom Shape Styling */
.hexagon-outer {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-inner {
    clip-path: polygon(50% 2%, 98% 26%, 98% 74%, 50% 98%, 2% 74%, 2% 26%);
}